  body {
      margin: 0;
      padding: 0;
      border: 0;
      font: inherit;
      font-size: 100%;
      vertical-align: baseline;
  }
  
  #bradContainer {
      font-family: sans-serif;
      font-size: 20px;
      color: #ffffff;
      background-color: #37a748;
      width: 729px;
      height: 90px;
      border: 1px solid #666;
      position: relative;
      overflow: hidden;
      text-decoration: none;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; // IE8
      /* This works in IE 8 & 9 too */
      /* ... but also 5, 6, 7 */
      
      filter: alpha(opacity=0); // IE 5-7
      /* Modern Browsers */
      
      opacity: 0;
      #bradContent {
          cursor: pointer;
          width: 100%;
          height: 100%;
          #bradGradBackground {
              width: 728px;
              height: 90px;
              position: absolute;
              left: 0px;
              top: 0px;
              background-image: url(../img/bg.jpg);
          }
          #bradBlackBackground {
              width: 728px;
              height: 90px;
              background: rgba(0, 0, 0, 1);
              position: absolute;
              top: 0;
              left: 0;
          }
          #bradSpotlight {
              background-image: url(../img/spotlight.png);
              width: 792px;
              height: 138px;
              position: absolute;
              //top:-120px;
              //left:-550px;
          }
          #txt1a {
              background-image: url(../img/txt1a.png);
              position: absolute;
              width: 49px;
              height: 20px;
              left: 160px;
              top: 16px;
          }
          #txt1b {
              background-image: url(../img/txt1b.png);
              position: absolute;
              width: 68px;
              height: 20px;
              left: 250px;
              top: 63px;
          }
          #txt1c {
              background-image: url(../img/txt1c.png);
              position: absolute;
              width: 56px;
              height: 18px;
              left: 400px;
              top: 36px;
          }
          #txt2 {
              background-image: url(../img/txt2.png);
              position: absolute;
              width: 251px;
              height: 27px;
              left: 150px;
              top: 28px;
          }
          #txt3 {
              background-image: url(../img/txt3.png);
              position: absolute;
              width: 214px;
              height: 16px;
              left: 186px;
              top: 64px;
          }
          #bradZoe {
              background-image: url(../img/zoe.png);
              position: absolute;
              width: 728px;
              height: 90px;
              top: 0px;
              left: 0px;
          }
          #bradFooter {
              background: #fff;
              width: 161px;
              height: 90px;
              position: absolute;
              top: 0px;
              left: 568px;
              #bradFooterImageContainer {
                  background-image: url(../img/logo.png);
                  position: absolute;
                  top: 31px;
                  left: 29px;
                  width: 104px;
                  height: 26px;
              }
             
              }
           #bradFooterCTA {
                  background: #fa7700;
                  position: absolute;
                  top: 29px;
                  left: 432px;
                  width: 111px;
                  height: 30px;
                  #bradFooterCTAT {
                      background-image: url(../img/cta.png);
                      position: absolute;
                      top: 9px;
                      left: 11px;
                      width: 90px;
                      height: 13px;
                  }
          }
      }
  }
